/*	Arrumar a logo	*/
.logotipo { /*class*/
			width: 50px;
			height: auto;
		}

/*	Tag no index loco: ;*/
#social { /*id*/
	text-align: center;
	background-color: #91989f; 
	/*
		Comentário do CSS LOCO;
	*/
	padding: 50px 0;
}

.titulo-section {
	font-size: 32pt; /*	potuaçao de fonte; 	*/
	font-weight: bold; /* deixa ele mais gordin um cadinho*/	
}

/*Falar que  o treco <a vao tudo acontecer isso :>*/
#social a {
	color: white;
	font-size: 14pt;
	padding-right: 10px;

}

#social a :hover{ /*Quando tiver com o mouse por cima*/
	color: yellow;
	transition: 1s;

}

#institucional {
	text-align: center;
	background-color: #D8D8D8; 
	/*
		Comentário do CSS LOCO;
	*/
	padding: 15px 0;
}

#institucional p {
	text-align: justify;
}

#servico .texto {
	padding:20px;

}

#servico {
	text-align: center;
}

#servico p {
	text-align: justify;
}

/*
#institucional,
#services {
	text-align: center;
	/*
		Comentário do CSS LOCO;
	
	padding: 15px 0;
}

#institucional {
	background-color: #D8D8D8; 
}
*/

#blog {
	text-align: center;
	padding: 30px 0;
}
.row {
	padding: 12px;	
}

.row .bl {
	width: 200px;
	height: 100px;
}

.row h6 {
	padding: 10px;
}

#blog p {
	text-align: justify;
}

#formulario {
	text-align: center;
	background-color: #dcd5d6;
}

#formulario .contc {
	background-color: #C5B9BC;
	padding: 20px;
}

#formulario .row {
	text-align: justify;
}
#formulario .dir {
border-right: 1px solid #C5B9BC;

}

/*border-right: 1px solid #000000*/

